<div data-ng-controller="UserCtrl as ctrl">
  <p data-ng-bind="ctrl.error"></p>
	<h1>Usuário</h1>
	<table>
		<thead>
      <tr>
        <th>Nome</th>
        <th>E-mail</th>
        <th>Usuário</th>
        <th>Cargo</th>
        <th>Criação</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="user in ctrl.users">
        <td data-ng-bind="user.name"></td>
        <td data-ng-bind="user.email"></td>
        <td data-ng-bind="user.user"></td>
        <td data-ng-bind="user.role"></td>
        <td>{{ user.created | asDate | date:'dd/MM/yyyy HH:mm:ss' }}</td>
        <td>
          <button type="button" data-ng-click="ctrl.view(user.id)">Ver</button>
          <button type="button" data-ng-click="ctrl.edit(user.id)">Editar</button>
          <button type="button" data-ng-click="ctrl.remove(user.id)">Remover</button>
        </td>
      </tr>
    </tbody>
	</table>
  <form data-ng-submit="ctrl.submit()">
    <fieldset>
      <legend>Usuário</legend>
      <div>
        <label>Nome</label>
        <input type="text" data-ng-model="ctrl.user.name">
      </div>
      <div>
        <label>E-mail</label>
        <input type="email" data-ng-model="ctrl.user.email">
      </div>
      <div>
        <label>Usuário</label>
        <input type="text" data-ng-model="ctrl.user.user">
      </div>
      <div>
        <label>Senha</label>
        <input type="password" data-ng-model="ctrl.user.pass">
      </div>
      <div>
        <label>Cargo</label>
        <select data-ng-model="ctrl.user.role" data-ng-options="role.value as role.label for role in ctrl.roles">
          <option value="">-- Escolha o cargo --</option>
        </select>
        <!--
        <input list="role" data-ng-model="user.role">
        <datalist id="role">
          <option label="Gerente" value="manager">
          <option label="Avaliador" value="measurer">
        </datalist>
        -->
      </div>
      <div>
        <button type="reset">Limpar</button>
        <button type="submit">Salvar</button>
      </div>
    </fieldset>
  </form>
</div>