<div data-ng-controller="UserCtrl as ctrl">
  <p data-ng-bind="ctrl.error"></p>
  <h1>Usuário</h1>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Nome</th>
        <th>E-mail</th>
        <th>Usuário</th>
        <th>Cargo</th>
        <th>Criação</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="user in ctrl.users">
        <td data-ng-bind="user.id"></td>
        <td data-ng-bind="user.name"></td>
        <td data-ng-bind="user.email"></td>
        <td data-ng-bind="user.user"></td>
        <td data-ng-bind="user.role"></td>
        <td>{{ user.created | asDate | date:'dd/MM/yyyy HH:mm:ss' }}</td>
        <td>
          <!-- <button type="button" data-ng-click="ctrl.view(user)">Ver</button> -->
          <button type="button" data-ng-click="ctrl.edit(user)">Editar</button>
          <button type="button" data-ng-click="ctrl.remove(user)">Remover</button>
        </td>
      </tr>
    </tbody>
	</table>
  <form data-ng-submit="ctrl.submit()" name="userForm">
    <fieldset>
      <legend>Usuário</legend>
      <div>
        <label>Nome</label>
        <input type="text" data-ng-model="ctrl.user.name">
      </div>
      <div>
        <label>E-mail</label>
        <input type="email" name="email" data-ng-model="ctrl.user.email" data-unique data-unique-service="UserService" data-unique-column="email" required>
        <span data-ng-show="userForm.email.$error.unique">E-mail já existe</span>
      </div>
      <div>
        <label>Usuário</label>
        <input type="text" name="user" data-ng-model="ctrl.user.user" data-unique data-unique-service="UserService" data-unique-column="user" required>
        <span data-ng-show="userForm.user.$error.unique">Usuário já existe</span>
      </div>
      <div>
        <label>Senha</label>
        <input type="password" data-ng-model="ctrl.user.pass">
      </div>
      <div>
        <label>Cargo</label>
        <select data-ng-model="ctrl.user.role" data-ng-options="role.value as role.label for role in ctrl.roles">
          <option value="">-- Escolha o cargo --</option>
        </select>
      </div>
      <div>
        <button type="reset" data-ng-click="ctrl.reset()">Limpar</button>
        <button type="submit" data-ng-disabled="userForm.$invalid">Salvar</button>
      </div>
    </fieldset>
  </form>
</div>